@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 65;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000;
  font-family: 'Courier New', Courier, monospace;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 255, 65, 0.5);
  }

  .border-glow {
    box-shadow: 0 0 10px rgba(0, 255, 65, 0.2);
  }
}